@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"),
    url("../../../public/fonts/Poppins-Bold.woff");
  
  }
body{
  font-family: Poppins;
}


.container{
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0px;
}


.mobile , .mobile_banner{
    display: none;
}
.hero{
  width: 40%;
  padding: 20px 20px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.849);
  border-radius: 10px;
  gap: -20pxpx;
  left: 7%;
}

.hero p,h1,h2,h3{
  text-align: left;
  margin: 0px;
}

.hero h1{
  color:#00A1E8;
  font-size: 50px;
  line-height: 55px;
}

.hero p{
  
  font-size: 14px;
  line-height: 18px;
}

.resize_bg{
  width: 100%;
  height: 100%;
}

.letter_spacing_2{
  letter-spacing: 5px;
  font-size: 14px;
}


.btn_2{
  border-style: none;
  background-color: #183980;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  width: fit-content;
  margin-top: 10px;
  font-size: 14px;
  font-weight: lighter;

  &:hover{
    background-color: transparent;
    color:#183980;
    border-style: solid;
    border-radius: 5px;
    border-color: #183980;
    text-decoration: none;
    transition: .5s;
  }
}


@media only screen and (max-width: 1024px) {
  .mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 10%;
    width: 100%;
    text-align: center;
   
    height: fit-content;
    gap: 20px;
  }

  .letter_spacing_1{
      font-size: 16px;
  }

  .desktop{
    display: none;
  }
   
  h1{
      font-size: 28px;
      line-height: 30px;
  }
      
  .letter_spacing_1{
      letter-spacing: 5px;
  }

  .btn_1{
      border-style: none;
      background-color: #183980;
      padding: 15px 20px;
      border-radius: 10px;
      color: white;
      width: 180px;
      margin: 0 auto;
      font-weight: bold;
  }

  .resize{
      width: 100%;
      height: auto;
    }

    .mobile_banner{
      display: flex;
      margin-top: -50px;
      height: fit-content;
    }

    
p,h1,h2,h3{
  text-align: center;
  margin: 0px;
}


}

@media only screen and (max-width: 768px) {
    .mobile{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px;
      padding: 10%;
      width: 100%;
      text-align: center;
     
      height: fit-content;
      gap: 20px;
    }

    .letter_spacing_1{
        font-size: 16px;
    }

    .desktop{
      display: none;
    }
     
    h1{
        font-size: 28px;
        line-height: 30px;
    }
        
    .letter_spacing_1{
        letter-spacing: 5px;
    }

    .btn_1{
        border-style: none;
        background-color: #183980;
        padding: 15px 20px;
        border-radius: 10px;
        color: white;
        width: 180px;
        margin: 0 auto;
        font-weight: bold;
    }

    .resize{
        width: 100%;
        height: auto;
      }

      .mobile_banner{
        display: flex;
        margin-top: -50px;
        height: fit-content;
      }

      
p,h1,h2,h3{
  text-align: center;
  margin: 0px;
}

  }
   
   @media only screen and (max-width: 412px) {
    
    .mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        padding: 10%;
        width: 100%;
        text-align: center;
      
        height: fit-content;
        gap: 20px;
      }
  
      .letter_spacing_1{
          font-size: 16px;
      }
  
      .desktop{
        display: none;
      }
       
      h1{
          font-size: 28px;
          line-height: 30px;
      }
          
      .letter_spacing_1{
          letter-spacing: 5px;
      }
  
      .btn_1{
          border-style: none;
          background-color: #183980;
          padding: 15px 20px;
          border-radius: 10px;
          color: white;
          width: 180px;
          font-weight: bold;
          margin: 0 auto;
      }

      .resize{
        width: 100%;
        height: auto;
      }

      .mobile_banner{
        display: flex;
        margin-top: -50px;
        height: fit-content;
      }

      p,h1,h2,h3{
        text-align: center;
        margin: 0px;
      }
   
   }
   
   
   @media only screen and (max-width: 360px) {
    .mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        padding: 5%;
        padding-bottom: 0px;
        text-align: center;
        height: fit-content;
        gap: 20px;
      }
  
      .letter_spacing_1{
          font-size: 14px;
          font-weight: 200;
      }
  
      .desktop{
        display: none;
      }
       
      h1{
          font-size: 28px;
          line-height: 30px;
          color: #00A1E8;
      }
          
      .letter_spacing_1{
          letter-spacing: 5px;
      }
  
      .btn_1{
          border-style: none;
          background-color: #183980;
          padding: 15px 20px;
          border-radius: 10px;
          color: white;
          width: 180px;
          margin: 0 auto;
          font-weight: bold;
      }

      .resize{
        width: 100%;
        height: auto;
      }

      .mobile_banner{
        display: flex;
        margin-top: 40px;
        height: fit-content;
      }

   
p,h1,h2,h3{
  text-align: center;
  margin: 0px;
}
   }
