@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.firstNameRoot {
  width: calc(50% - 9px);
}

.lastNameRoot {
  width: calc(50% - 9px);
}

.password {
  composes: marketplaceModalPasswordMargins from global;
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
}

.radioContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mag_B_30{
  margin-bottom: 30px;
}

.buttom_flex{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cancel_btn{
  background-color: transparent;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: #183980;
  color:#183980;

  &:hover{
    background-color: #183980;
    border-color: #183980;
    color: white;
    border-radius: 10px;
  }
}


.submit_btn{
  background-color: #183980;
  border-color: #183980;
  color: white;
  border-radius: 10px;

  &:hover{
    background-color: transparent;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: #183980;
    color:#183980;
  }
}

.mag_B_30_mobi{
  margin-bottom: 0px;
}


.mag_B_30_mobi_2{
  margin-bottom: 0px;
}


@media only screen and (max-width: 768px) {
  .radioContainer{
    flex-direction: column;
    gap: 20px;
  }

  .name {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .firstNameRoot , .lastNameRoot{
    width: 100%;
  }


  .mag_B_30{
    margin-bottom: 15px;
  }

  .mag_B_30_mobi{
    margin-bottom: 15px;
  }
  .cancel_btn{
    display: none;
  }

  .next_btn{
    padding: 10px;
    width: 100%;
    background-color: #183980;
    color: white;
    border-radius: 10px;
    border-style: none;
  }

}
 
 @media only screen and (max-width: 412px) {
  .radioContainer{
    flex-direction: column;
    gap: 20px;
  }

  .name {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .firstNameRoot , .lastNameRoot{
    width: 100%;
  }

  
  .mag_B_30{
    margin-bottom: 15px;
  }
  .mag_B_30_mobi{
    margin-bottom: 15px;
  }
  .cancel_btn{
    display: none;
  }
 
 }
 
 
 @media only screen and (max-width: 360px) {
  .radioContainer{
    flex-direction: column;
    gap: 20px;
  }

  .name {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .firstNameRoot , .lastNameRoot{
    width: 100%;
  }

  
  .mag_B_30{
    margin-bottom: 15px;
  }
  .mag_B_30_mobi{
    margin-bottom: 15px;
  }
  .cancel_btn{
    display: none;
  }
}

