@import '../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
}

.contentContainer {
  composes: marketplaceModalRootStyles from global;
  height: calc(100vh - 60px);

  @media (--viewportMedium) {
    height: unset;
  }
}

.content {
  composes: marketplaceModalBaseStyles from global;
  padding-top: 29px;
  
  padding: 20px;
  border-radius: 20px;
  margin: 0px auto;

  @media (--viewportLarge) {
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
    padding: 50px;
    margin: 5% 20%;
  }

  @media (--viewportMedium) {
    margin-top: 5vh;
    margin-bottom: 7.5vh;
    padding: 50px;
  }

}



.AuthenticationPage_content__X83yQ {
  margin-top: 5vh;
  margin-bottom: 7.5vh;
  min-height: 700px;
  border-style: solid;
  border-radius: 20px;
  padding: 20px;
  margin: 10% auto;
}

/* ================ Tabs & Form ================ */

.tabs {
  @media (--viewportMedium) {
    margin-top: 6px;
  }
}

.tab {
  composes: marketplaceModalTitleStyles from global;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 0;
  }
}

.form {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 30px;
    padding-top: 2px;
  }
}

.loginForm {
  margin-top: 24px;

  /* We don't want the form to take the whole space so that on mobile view
  the social login buttons will be after the sign up button
  and not in the bottom of the page.
  We also need to add flex-basis value so that Safari will show the
  whole form correctly.  */
  flex-grow: 0;
  flex-basis: 260px;

  @media (--viewportMedium) {
    flex-basis: 330px;
    margin-top: 30px;
    padding-top: 2px;
  }
}

.signupForm {
  margin-top: 24px;

  /* We don't want the form to take the whole space so that on mobile view
  the social login buttons will be after the sign up button
  and not in the bottom of the page.
  We also need to add flex-basis value so that Safari will show the
  whole form correctly.  */
  flex-grow: 0;
  flex-basis: 340px;

  @media (--viewportMedium) {
    flex-basis: 410px;
    margin-top: 30px;
    padding-top: 2px;
  }
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;

  /* Align the helper links to the left since there isn't a Primary Button anymore */
  text-align: left;
}

/* Terms of Service modal*/

.privacyWrapper,
.termsWrapper {
  width: 100%;
  padding-top: 40px;

  @media (--viewportMedium) {
    width: 604px;
    padding-top: 11px;
  }
}

/* ================ Hide Top bar in screens smaller than 768px  ================ */

.hideOnMobile {
  display: none;

  @media (--viewportMedium) {
    display: block;
  }
}

/* ================ Close icon ================ */

.verifyClose {
  composes: marketplaceModalCloseStyles from global;

  /* This is not a real modal, z-index should not be modal's z-index */
  z-index: 1;
}

.closeText {
  composes: marketplaceModalCloseText from global;
}

.closeIcon {
  composes: marketplaceModalCloseIcon from global;
}

/* ================ Typography ================ */

/* Title of the modal */
.modalTitle {
  composes: marketplaceModalTitleStyles from global;
}

/* Paragraph for the Modal */
.modalMessage {
  composes: marketplaceModalParagraphStyles from global;
}

/* Make the email pop */
.email {
  font-weight: var(--fontWeightHighlightEmail);

  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}

/* Helper links */
.modalHelperLink {
  composes: a from global;
  composes: marketplaceModalHelperLink from global;
}

/* Helper texts for the links, not the actual links */
.modalHelperText {
  composes: marketplaceModalHelperText from global;
}

.modalIcon {
  composes: marketplaceModalIconStyles from global;

  /* Align the icon and rest of the content in the modal. Sign & Login doesn't use an icon, maybe we should add one? */
  margin-top: 47px;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

/* ================ Errors ================ */

.error {
  composes: marketplaceModalPasswordMargins from global;
}

/* ================ Social logins & SSO ================ */

.signupWithIdpTitle {
  composes: marketplaceModalTitleStyles from global;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 16px;
  color: var(--colorBlack);

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 6px;
  }
}

.confirmInfoText {
}

.buttonIcon {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.socialButtonWrapper {
  margin-bottom: 6px;
  @media (--viewportMedium) {
    margin-top: 8px;
  }
}

.socialButtonsOr {
  width: 100%;
  height: 32px;
  margin: 28px 0 20px 0;
  text-align: center;
  position: relative;
  background-color: var(--colorWhite);

  &:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #d2d2d2;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
  }
}

@media (--viewportMedium) {
  .socialButtonsOr {
    height: 34px;
    margin: 15px 0;
  }
}

.socialButtonsOrText {
  background-color: var(--colorWhite);
  width: auto;
  display: inline-block;
  z-index: 3;
  padding: 0 20px 0 20px;
  position: relative;
  margin: 0;
}

.bg_img img{
  position: relative;
  float: left;
  width: 100%;
  height: 60vh;
}

.overlay_con{
  position: absolute;
  width: 100%;
  height: 60vh;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;

}
.overlay_header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:white;
}

.overlay_headerp{
  color:white;
}


.overlay_header h2{
  text-shadow: 3px;
  font-weight: 800;
}
.personal_details{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 50px 0px 20px 0px;
}

.rule_con{
  display: flex;
  flex-direction: row;
  gap:10px;
  color: black;
  align-items: center;
  align-content: center;
  margin: 30px 0px;
}

.rule_con hr{
  width: 70px;
  opacity: .8;
}



.social{
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: center;
  align-content: center;
  margin:30px 0px;
}

.social_btn{
  padding: 10px 30px;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
}

.mag_R_20{
  margin-right: 20px;
}


.location_Modal{
  position: absolute;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
  padding: 5%;
  display: none;
}

.location_form{
  background-color: red;
  border-radius: 20px;
}

.radio_btn{
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-style: solid;
  border-width: thin;
  padding: 15px;
  border-radius: 10px;
  border-color: rgba(177, 177, 177, 0.658);
  margin: 10px;
}

.radio{
  width: 15px;
}
.header{
  display: none;
}

.mobile{
  display: none;
}


.login_signup{
  display: block;
}


@media only screen and (max-width: 768px) {
  .header_content{
   
    padding:20px 20px ;
    
    text-align: center;

  }

  .header_content p{
    text-align: center;
  }

.mobile{
  display: block;
 
}

.login_signup{
  display: none;
}


.location_Modal{
  display: block;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
  padding: 5%;
  z-index: 1000;
}

.location_form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
}

.location_form h2, p{
 text-align: left;
}

.location_form a{
  text-align: center;
 }
  
.social{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  align-content: center;
  margin:10px 0px;
  width: 100%;
  padding: 20px;
  
}

.social_btn{
  padding: 15px 30px;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  width: 100%;
}

.rule_con {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #7b7b7b;
  align-items: center;
  align-content: center;
  margin: 0px 0px;
}

.rule_con hr{
  width: 150px;
  background-color: #c8c8c8;
  border: none;
  height: 1px;
  
}

.btn_1{
  border-style: none;
  background-color: #183980;
  padding: 15px 20px;
  border-radius: 10px;
  color: white;
  width: 180px;
  margin: 0 auto;
  font-weight: bold;
}

.cancel{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close_btn{
  border-style: none;
  cursor: pointer;
}

.zip{
  padding: 10px;
}

.submit_btn{
  background-color: #183980;
  padding: 10px;
  color: white;
  border-radius: 10px;
}


.location_form a{
  color:rgb(0, 0, 0);
  border-style: none;
 }

 .map_img{
  height: 200px;
 }

.modal_div{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.575);
}

.option_con{
  border-radius: 10px;
  margin: 20px;
  border-style: solid;
  border-width: thin;
  border-color: rgba(170, 170, 170, 0.527);
  padding-top: 20px;
}

.header{
  margin-top: 40px;
  display: block;
}

.location_Modal{
  display: block;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
  padding: 5%;
  z-index: 1000;
  top: 0px;
  overflow-y: scroll;
}

.map_con{
  height: 300px;
}

.left_align{
  text-align: left;
}


}
 
 @media only screen and (max-width: 412px) {
  .header_content{
    padding: auto 20px ;
    
  }
 


.location_form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
}
.social{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  align-content: center;
  margin:10px 0px;
  width: 100%;
  
}

.social_btn{
  padding: 15px 30px;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  width: 100%;
}

.rule_con {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #7b7b7b;
  align-items: center;
  align-content: center;
  margin: 0px 0px;
}


.rule_con hr{
  width: 150px;
  background-color: #c8c8c8;
  border: none;
  height: 1px;
}

 }
 
 
 @media only screen and (max-width: 360px) {
  .header_content{
    padding: auto 20px ;
   
  }
  

.location_form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
}

  .social{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    align-content: center;
    margin:15px 0px;
    
  }
  
  .social_btn{
    padding: 10px 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    width: 100%;
    
  }

  .rule_con {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #7b7b7b;
    align-items: center;
    align-content: center;
    margin: 0px 0px;
  }
  
.rule_con hr{
  width: 150px;
  background-color: #c8c8c8;
  border: none;
  height: 1px;
}

}
